@model MinhaCarteira.Cliente.Recursos.Models.CategoriaViewModel

@{
    ViewData["Title"] = "Alterar";
}

<h1>Alterar</h1>

<h4>CategoriaViewModel</h4>
<hr />
<form asp-action="Alterar" enctype="multipart/form-data" method="post">

    @Html.EditorForModel()

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/autocomplete/categoriaAutoComplete.js" asp-append-version="true"></script>
    <script src="~/js/views/instituicaoFinanceiraView.js" asp-append-version="true"></script>
}
