@model MinhaCarteira.Cliente.Recursos.Models.CategoriaViewModel

@{
    await Html.RenderPartialAsync("_PartialAlertas");
    ViewData["Title"] = "Categoria";
    ViewData["Icone"] = "<i class='fa fa-square-check fa-lg text-primary'></i>";
}

<h1>Novo</h1>
<hr />
<form asp-action="Criar" enctype="multipart/form-data" method="post">

    @Html.EditorForModel()

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/autocomplete/categoriaAutoComplete.js" asp-append-version="true"></script>
}
