@model MinhaCarteira.Cliente.Recursos.Models.ContaBancariaViewModel

@{
    await Html.RenderPartialAsync("_PartialAlertas");
    ViewData["Title"] = "Contas Bancárias";
    ViewData["Icone"] = "<i class='fa fa-credit-card fa-lg text-primary'></i>";
}

<h1>Alterar</h1>
<hr />
<form asp-action="Alterar">

    @Html.EditorForModel()

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/autocomplete/contaBancariaAutoComplete.js" asp-append-version="true"></script>
}
