@model MinhaCarteira.Cliente.AppWebMvc.Models.ContaBancariaViewModel

@{
    ViewData["Title"] = "Alterar";
}

<h1>Alterar</h1>

<h4>ContaBancariaViewModel</h4>
<hr />
<form asp-action="Alterar">

    @Html.EditorForModel()

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/autocomplete/contaBancariaAutoComplete.js" asp-append-version="true"></script>
}
