@model MinhaCarteira.Cliente.Recursos.Models.CentroClassificacaoViewModel

@{
    ViewData["Title"] = "Alterar";
}

<h1>Alterar</h1>

<h4>CentroClassificacaoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Alterar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Id" class="form-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="IdAuxiliar" class="form-label"></label>
                <input asp-for="IdAuxiliar" class="form-control" />
                <span asp-validation-for="IdAuxiliar" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EhDespesa" /> @Html.DisplayNameFor(model => model.EhDespesa)
                </label>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EhReceita" /> @Html.DisplayNameFor(model => model.EhReceita)
                </label>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
