@model MinhaCarteira.Cliente.Recursos.Models.InstituicaoFinanceiraViewModel

@{
    await Html.RenderPartialAsync("_PartialAlertas");
    ViewData["Title"] = "Instituição Financeira";
    ViewData["Icone"] = "<i class='fa fa-building-columns fa-lg text-primary'></i>";
}

<h1>Alterar</h1>
<hr />
<form asp-action="Alterar" enctype="multipart/form-data" method="post">

    @Html.EditorForModel()

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/views/instituicaoFinanceiraView.js" asp-append-version="true"></script>
}
