@model MinhaCarteira.Cliente.Recursos.Models.InstituicaoFinanceiraViewModel

@{
    ViewData["Title"] = "Criar";
}

<h1>Criar</h1>

<h4>InstituicaoFinanceiraViewModel</h4>
<hr />
<form asp-action="Criar" enctype="multipart/form-data" method="post">
    
    @Html.EditorForModel()

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/js/views/instituicaoFinanceiraView.js"></script>
}
