@using MinhaCarteira.Comum.Definicao.Interface.Servico

@if (ViewBag?.RetornoApi != null)
{
    var retornoApi = ViewBag.RetornoApi as IRespostaServico;
    var classAlert = "alert-success";
    var classFont = "fa-check-circle";

    if (!retornoApi.BemSucedido && !string.IsNullOrWhiteSpace(retornoApi.Mensagem))
    {
        classAlert = "alert-danger";
        classFont = "fa-circle-exclamation";
    }

    <div class="alert @classAlert myAlert-bottom alert-dismissible fade show" role="alert">
        <span class="fa @classFont" style="font-size:17px;"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong></strong> @Html.Raw(retornoApi.Mensagem)
        @if (!string.IsNullOrWhiteSpace(retornoApi.MensagemErro))
        {
            <hr />
            <span>@Html.Raw(retornoApi.MensagemErro) </span>
        }
    </div>
}

