@using MinhaCarteira.Comum.Definicao.Interface.Servico

@if (ViewBag?.RetornoApi != null)
{
    var retornoApi = ViewBag.RetornoApi as IRespostaServico;
    var classAlert = "alert-success";
    var classFont = "fa-check-circle";

    if (!retornoApi.BemSucedido && !string.IsNullOrWhiteSpace(retornoApi.Mensagem))
    {
        classAlert = "alert-danger";
        classFont = "fa-circle-exclamation";
    }

    <div class="alert @classAlert myAlert-bottom">
        <span class="fa @classFont" style="font-size:17px;"></span>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong></strong> @Html.Raw(retornoApi.Mensagem)
        @if (!string.IsNullOrWhiteSpace(retornoApi.MensagemErro))
        {
            <hr />
            <span>@Html.Raw(retornoApi.MensagemErro) </span>
        }
    </div>
}

