@using MinhaCarteira.Comum.Definicao.Interface.Servico

@if (ViewBag?.RetornoApi != null)
{
    var retornoApi = ViewBag.RetornoApi as IRespostaServico;
    var classes = "alert-success";

    if (!retornoApi.BemSucedido && !string.IsNullOrWhiteSpace(retornoApi.Mensagem))
        classes = "alert-danger";

    <div class="alert @classes myAlert-bottom">
        <span class="fa fa-check-circle" style="font-size:17px;"></span>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong></strong> @Html.Raw(retornoApi.Mensagem)
        @if (!string.IsNullOrWhiteSpace(retornoApi.MensagemErro))
        {
            <hr />
            <span>@Html.Raw(retornoApi.MensagemErro) </span>
        }
    </div>
}

