@model MinhaCarteira.Cliente.AppWebMvc.Models.MovimentoBancarioViewModel

@{
    ViewData["Title"] = "Criar";
}

<h1>Criar</h1>

<h4>MovimentoBancarioViewModel</h4>
<hr />

<form asp-action="Criar">

    @Html.EditorForModel()

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/views/movimentoBancarioAutoComplete.js" asp-append-version="true"></script>
}
