@model MinhaCarteira.Cliente.Recursos.Models.MovimentoBancarioViewModel

@{
    await Html.RenderPartialAsync("_PartialAlertas");
    ViewData["Title"] = "Movimentos Bancários";
    ViewData["Icone"] = "<i class='fa fa-arrow-down-1-9 fa-lg text-primary'></i>";
}

<h1>Novo</h1>
<hr />
<form asp-action="Criar">

    @Html.EditorForModel()

</form>

<div>
    <a asp-action="Index" asp-route-id="@Model.ContaBancariaId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/autocomplete/movimentoBancarioAutoComplete.js" asp-append-version="true"></script>
}
