@model MinhaCarteira.Cliente.Recursos.Models.AgendamentoItemViewModel

@{
    await Html.RenderPartialAsync("_PartialAlertas");
    ViewData["Title"] = "Agendamento";
    ViewData["Icone"] = "<i class='fa fa-calendar-day fa-lg text-primary'></i>";
}

<h1>Conciliação</h1>
<hr />
<form id="formConciliar">
    <input asp-for="Id" type="hidden" />

    <div class="row mb-3">
    </div>
    <div class="row mb-3">
        <div class="col-sm-5">
            <select id="origem" class="form-select h-100 font-monospace" multiple>
            </select>
        </div>

        <div class="col-sm-2 p-0 d-flex flex-column align-items-center">
            <button type="button" class="col-sm-6 ps-0 pe-0 btn btn-success" id="buscar">
                Buscar<br /><i class="fa fa-search"></i>
            </button>

            <button type="button" class="col-sm-6 ps-0 pe-0 mt-3 btn btn-warning" id="addTodos">
                Adicionar Todos <i class="fa fa-arrow-alt-circle-right"></i>
            </button>

            <button type="button" class="col-sm-6 ps-0 pe-0 mt-3 btn btn-primary" id="add">
                Adicionar<br /><i class="fa fa-arrow-alt-circle-right"></i>
            </button>

            <button type="button" class="col-sm-6 ps-0 pe-0 mt-3 btn btn-primary" id="remove">
                Remover<br /><i class="fa fa-arrow-alt-circle-left"></i>
            </button>

            <button type="button" class="col-sm-6 ps-0 pe-0 mt-3 btn btn-warning" id="removerTodos">
                Remover Todos <i class="fa fa-arrow-alt-circle-left"></i>
            </button>
        </div>

        <div class="col-sm-5">
            <select id="destino" class="form-select h-100 font-monospace" multiple>
            </select>
        </div>
    </div>

    <hr />
    <div class="mb-3">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/views/conciliarParcela.js"></script>
}
