@model MinhaCarteira.Cliente.Recursos.Models.AgendamentoViewModel

@{
    await Html.RenderPartialAsync("_PartialAlertas");
    ViewData["Title"] = "Agendamento";
    ViewData["Icone"] = "<i class='fa fa-calendar-day fa-lg text-primary'></i>";
}

<h1>Novo</h1>
<hr />
<form asp-action="Criar">

    @Html.EditorForModel()

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/views/agendamentoView.js" asp-append-version="true"></script>
    <script src="~/js/autocomplete/movimentoBancarioAutoComplete.js" asp-append-version="true"></script>
}