@model MinhaCarteira.Cliente.Recursos.Models.InstituicaoFinanceiraViewModel

@{
    ViewData["Title"] = "InstituicaoFinanceiraViewModel";
}

<div class="col-md-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="IconeForm" class="form-label"></label>
        <div class="custom-file">
            <input asp-for="IconeForm" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <span asp-validation-for="IconeForm" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" class="form-control"/>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
</div>

<hr />
<div class="mb-3">
    <input type="submit" value="Salvar" class="btn btn-primary" />
</div>
